Repository DataDog/datadogpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/api-clients, @DataDog/agent-metrics-logs, @DataDog/documentation

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched top-to-bottom, so one team can own subdirectories
# and another team can own the rest of the directory. Last matching
# pattern is the one used.

# Default owners of everything in the repo
*                                @DataDog/api-clients

# API
/datadog/api/                    @DataDog/api-clients
/tests/integration/api/          @DataDog/api-clients
/tests/unit/api/                 @DataDog/api-clients

# Dogshell
/datadog/dogshell/               @DataDog/api-clients
/tests/integration/dogshell/     @DataDog/api-clients

# Dogstatd
/datadog/dogstatsd/              @DataDog/api-clients @DataDog/agent-metrics-logs
/datadog/util/                   @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/integration/dogstatsd/    @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/dogstatsd/           @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/util/                @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/util/                     @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/performance/test_statsd_* @DataDog/api-clients @DataDog/agent-metrics-logs

# Threadstats
/datadog/threadstats/            @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/threadstats/         @DataDog/api-clients @DataDog/agent-metrics-logs

# Documentation
*.md                             @DataDog/documentation @DataDog/api-clients
LICENSE                          @DataDog/documentation @DataDog/api-clients

lint
  datadog/dogstatsd/buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add buffered_metrics object type (#853)
  .github/workflows/test.yml
  datadog/dogstatsd/buffered_metrics.py
  datadog/dogstatsd/metric_types.py
  tests/unit/dogstatsd/test_buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Set more specific GitHub token permissions on workflows. (#854)
  .github/workflows/changelog.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yaml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/api-clients

docs: update datadog_checks_dev installation guide
  RELEASING.md
Owners: @DataDog/documentation, @DataDog/api-clients

docs: update datadog_checks_dev installation guide (#855)
  RELEASING.md
Owners: @DataDog/documentation, @DataDog/api-clients

Release 0.50.1
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/documentation, @DataDog/api-clients

Release 0.50.1 (#856)
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

start dev cycle
  datadog/version.py
Owners: @DataDog/api-clients

start dev cycle (#857)
  datadog/version.py
Owners: @DataDog/api-clients

revert test config change
  .github/workflows/test.yml
Owners: @DataDog/api-clients

add buffered_metric_context WIP
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/buffered_metrics_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Add typing to timed function and TimedContextManagerDecorator class
  datadog/dogstatsd/base.py
  datadog/dogstatsd/context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Ignore venv in .gitignore
  .gitignore
Owners: @DataDog/api-clients

fix missing function that was renamed
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix lint
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

change variable name back to original
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

[AMLII-2170] fix removed/renamed function flush (#868)
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

AMLII-2166 - Add UDS Streams support to the DogStatsD client
  datadog/dogstatsd/base.py
  tests/integration/dogstatsd/test_statsd_sender.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Release 0.50.2
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

Release 0.50.2 (#871)
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

start dev cycle
  datadog/version.py
Owners: @DataDog/api-clients

start dev cycle (#872)
  datadog/version.py
Owners: @DataDog/api-clients

AMLII-2166 - Add UDS Streams support to the DogStatsD client
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  tests/integration/dogstatsd/test_statsd_sender.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

AMLII-2172 - remove black from tox
  tox.ini
Owners: @DataDog/api-clients

AMLII-2173 - Add DD_DOGSTATSD_URL support to datadogpy
  README.md
  datadog/dogstatsd/base.py
  doc/source/index.rst
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/documentation, @DataDog/api-clients, @DataDog/agent-metrics-logs

change naming to sample
  datadog/dogstatsd/buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

update tests
  tests/unit/dogstatsd/test_buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix buffered_metric_context and aggregator, update tests
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/buffered_metrics.py
  datadog/dogstatsd/buffered_metrics_context.py
  tests/unit/dogstatsd/test_aggregator.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

use snake case
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/buffered_metrics_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

added api.Hosts.get_all and dogshell.hosts
  datadog/api/hosts.py
  datadog/dogshell/hosts.py
Owners: @DataDog/api-clients

resolved flake8 issues
  datadog/api/hosts.py
  datadog/dogshell/hosts.py
Owners: @DataDog/api-clients

integration tests passed for test_api.py
  datadog/dogshell/__init__.py
  datadog/dogshell/hosts.py
  tests/integration/api/test_api.py
Owners: @DataDog/api-clients

AMLII-2172 - remove black from tox (#873)
  tox.ini
Owners: @DataDog/api-clients

histograms, distribution and timing metrics are not aggregated, they are just buffered
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove max_metric_per_context, not in scope?
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/buffered_metrics.py
  datadog/dogstatsd/buffered_metrics_context.py
  tests/unit/dogstatsd/test_aggregator.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

lint
  datadog/dogstatsd/buffered_metrics_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs
