Repository DataDog/datadogpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/api-clients, @DataDog/agent-metrics-logs, @DataDog/documentation

fix lint
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

do not allow buffering when aggregation is enabled
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

testing for benchmarks
  datadog/__init__.py
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

check if removing logs fixes test
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add back logs
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove logs
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

rerun tests
  datadog/__init__.py
Owners: @DataDog/api-clients

Create documents for local testing
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Address all comments
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Woops missed a change
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

set default aggregation flush interval to 2 seconds
  datadog/__init__.py
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove print statement
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

address comments
  datadog/__init__.py
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

use a single flush thread
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove unecessary lint changes, fix refactored code
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add back import
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix refactored code
  datadog/dogstatsd/base.py
  tests/integration/dogstatsd/test_statsd_sender.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove lint and comment
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

check lint error
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix variable naming, deleted test function
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add back imports for comment variables
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix lint
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

test add disable_aggregating to test_fork_hooks
  tests/integration/dogstatsd/test_statsd_sender.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add parameter
  tests/integration/dogstatsd/test_statsd_sender.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

revert changes
  tests/integration/dogstatsd/test_statsd_sender.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

test
  tests/integration/dogstatsd/test_statsd_sender.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

check for tags = None
  datadog/dogstatsd/aggregator.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove test
  tests/integration/dogstatsd/test_statsd_sender.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix comment
  datadog/__init__.py
Owners: @DataDog/api-clients

rename variable
  datadog/__init__.py
Owners: @DataDog/api-clients

Fix a potential deadlock on fork (#836)
  datadog/dogstatsd/base.py
  tests/integration/dogstatsd/test_statsd_fork.py
  tests/integration/dogstatsd/test_statsd_sender.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add flush function
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Add client side aggregation (#844)
  datadog/__init__.py
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  datadog/dogstatsd/metric_types.py
  datadog/dogstatsd/metrics.py
  tests/unit/dogstatsd/test_aggregator.py
  tests/unit/dogstatsd/test_metrics.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Revert "Add client side aggregation (#844)"
  datadog/__init__.py
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  datadog/dogstatsd/metric_types.py
  datadog/dogstatsd/metrics.py
  tests/unit/dogstatsd/test_aggregator.py
  tests/unit/dogstatsd/test_metrics.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched top-to-bottom, so one team can own subdirectories
# and another team can own the rest of the directory. Last matching
# pattern is the one used.

# Default owners of everything in the repo
*                                @DataDog/api-clients

# API
/datadog/api/                    @DataDog/api-clients
/tests/integration/api/          @DataDog/api-clients
/tests/unit/api/                 @DataDog/api-clients

# Dogshell
/datadog/dogshell/               @DataDog/api-clients
/tests/integration/dogshell/     @DataDog/api-clients

# Dogstatd
/datadog/dogstatsd/              @DataDog/api-clients @DataDog/agent-metrics-logs
/datadog/util/                   @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/integration/dogstatsd/    @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/dogstatsd/           @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/util/                @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/util/                     @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/performance/test_statsd_* @DataDog/api-clients @DataDog/agent-metrics-logs

# Threadstats
/datadog/threadstats/            @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/threadstats/         @DataDog/api-clients @DataDog/agent-metrics-logs

# Documentation
*.md                             @DataDog/documentation @DataDog/api-clients
LICENSE                          @DataDog/documentation @DataDog/api-clients
