Repository DataDog/datadogpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/api-clients, @DataDog/agent-metrics-logs, @DataDog/documentation

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched top-to-bottom, so one team can own subdirectories
# and another team can own the rest of the directory. Last matching
# pattern is the one used.

# Default owners of everything in the repo
*                                @DataDog/api-clients

# API
/datadog/api/                    @DataDog/api-clients
/tests/integration/api/          @DataDog/api-clients
/tests/unit/api/                 @DataDog/api-clients

# Dogshell
/datadog/dogshell/               @DataDog/api-clients
/tests/integration/dogshell/     @DataDog/api-clients

# Dogstatd
/datadog/dogstatsd/              @DataDog/api-clients @DataDog/agent-metrics-logs
/datadog/util/                   @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/integration/dogstatsd/    @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/dogstatsd/           @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/util/                @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/util/                     @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/performance/test_statsd_* @DataDog/api-clients @DataDog/agent-metrics-logs

# Threadstats
/datadog/threadstats/            @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/threadstats/         @DataDog/api-clients @DataDog/agent-metrics-logs

# Documentation
*.md                             @DataDog/documentation @DataDog/api-clients
LICENSE                          @DataDog/documentation @DataDog/api-clients

add lock
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Improve responsiveness test_fork_with_thread
  tests/integration/dogstatsd/test_statsd_fork.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Extend test_fork_with_thread coverage
  tests/integration/dogstatsd/test_statsd_fork.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Fix test_fork_with_thread
  tests/integration/dogstatsd/test_statsd_fork.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Avoid deadlock in getaddrinfo
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Remove obsolete test
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Release 0.50.0
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

Release 0.50.0 (#849)
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

start dev cycle
  datadog/version.py
Owners: @DataDog/api-clients

enable the ability for buffering and aggregation to work at the same time
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove prints, test values, etc. change order or flush_buffered_metrics() and flush_aggregated_metrics since the flushed aggregated metrics are added to the buffer now
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

change variable name
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix lint
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix lint x2
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

formatting/naming changes
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

start dev cycle (#850)
  datadog/version.py
Owners: @DataDog/api-clients

change comments and refactor default flush interval
  datadog/__init__.py
Owners: @DataDog/api-clients

add unit tests for aggregation and buffering at same time
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix lint x3
  datadog/__init__.py
Owners: @DataDog/api-clients

fix lint x4
  datadog/__init__.py
Owners: @DataDog/api-clients

change variable name
  datadog/__init__.py
Owners: @DataDog/api-clients

rename variable
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

rename parameter
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

enable the ability for buffering and aggregation to work at the same (#851)
  datadog/__init__.py
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add buffered_metrics object type
  datadog/dogstatsd/buffered_metrics.py
  tests/unit/dogstatsd/test_buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

update metric_types to include histogram, distribution, timing
  datadog/dogstatsd/metric_types.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Run tests on any branch
  .github/workflows/test.yml
Owners: @DataDog/api-clients

add buffered metric object
  datadog/dogstatsd/buffered_metrics.py
  tests/unit/dogstatsd/test_buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

update metric_types to include histograms, distributions, timings
  datadog/dogstatsd/metric_types.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

run tests on any branch
  .github/workflows/test.yml
Owners: @DataDog/api-clients

lint
  datadog/dogstatsd/buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update doc/dev/testing.md
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

Update docs with requested changes
  doc/dev/testing.md
Owners: @DataDog/documentation, @DataDog/api-clients

WIP
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/buffered_metrics.py
  datadog/dogstatsd/metric_types.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

address comments
  datadog/dogstatsd/buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

lint
  datadog/dogstatsd/buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Set more specific GitHub token permissions on workflows.
  .github/workflows/changelog.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yaml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/api-clients

rename variables/methods
  datadog/dogstatsd/buffered_metrics.py
  tests/unit/dogstatsd/test_buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

change init logic
  datadog/dogstatsd/buffered_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs
