Repository DataDog/datadogpy, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/api-clients, @DataDog/agent-metrics-logs, @DataDog/documentation

add comments
  datadog/__init__.py
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

lint
  datadog/dogstatsd/base.py
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove print
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

updated cassettes generated with the right key. The IS sandbox had inconsistently tagged hosts.
  tests/integration/api/cassettes/TestDatadog.test_hosts_get_all.yaml
  tests/integration/api/test_api.py
  tests/integration/dogshell/cassettes/TestDogshell.test_hosts_list.yaml
  tests/integration/dogshell/cassettes/TestDogshell.test_hosts_totals.yaml
Owners: @DataDog/api-clients

update base.py to not use new feature unless max_samples_per_context is set
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove comment
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add flag for _report function to enable/disable sampling
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

fix one off error
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove unused code
  datadog/dogstatsd/max_sample_metric_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Fix bug with multiple threaded usage of stream sockets by guaranteeing the "size" and "message" packets are always sent one after another.
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

use specified rate
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

prelocate data in array
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

change append
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

lint
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

lint x2
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

modify test
  tests/unit/dogstatsd/test_max_sample_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

rerun tests
  tests/unit/dogstatsd/test_max_sample_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

ensure value is not None
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

change loop
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

use a deep copy
  datadog/dogstatsd/max_sample_metric_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove unecessary code
  datadog/dogstatsd/max_sample_metric_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

rerun tests
  datadog/dogstatsd/aggregator.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add lock
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove deep copy
  datadog/dogstatsd/max_sample_metric_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

locks :)
  datadog/dogstatsd/max_sample_metric.py
  datadog/dogstatsd/max_sample_metric_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

feat(origindetection): implement cardinality common field
  datadog/__init__.py
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  datadog/dogstatsd/metrics.py
  datadog/util/format.py
  tests/unit/dogstatsd/test_statsd.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

add unsafe to method name
  datadog/dogstatsd/max_sample_metric.py
  datadog/dogstatsd/max_sample_metric_context.py
  tests/unit/dogstatsd/test_max_sample_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

remove prints
  datadog/dogstatsd/base.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

change rate calculation
  datadog/dogstatsd/max_sample_metric.py
  datadog/dogstatsd/max_sample_metric_context.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

use list comprehesion
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

lint
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

lint x2
  datadog/dogstatsd/max_sample_metric.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

Add hosts endpoint. (#884)
  datadog/api/hosts.py
  datadog/dogshell/__init__.py
  datadog/dogshell/hosts.py
  tests/integration/api/cassettes/TestDatadog.test_hosts_get_all.yaml
  tests/integration/api/cassettes/TestDatadog.test_hosts_totals.yaml
  tests/integration/api/test_api.py
  tests/integration/dogshell/cassettes/TestDogshell.test_hosts_list.yaml
  tests/integration/dogshell/cassettes/TestDogshell.test_hosts_totals.yaml
  tests/integration/dogshell/test_dogshell.py
Owners: @DataDog/api-clients

prepare for release
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

prepare for release (#885)
  CHANGELOG.md
  datadog/version.py
Owners: @DataDog/documentation, @DataDog/api-clients

prepare dev cycle
  datadog/version.py
Owners: @DataDog/api-clients

prepare dev cycle (#886)
  datadog/version.py
Owners: @DataDog/api-clients

[AMLII-2019] Max samples per context for Histogram, Distribution and Timing metrics (Experimental Feature) (#863)
  datadog/__init__.py
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  datadog/dogstatsd/max_sample_metric.py
  datadog/dogstatsd/max_sample_metric_context.py
  datadog/dogstatsd/metric_types.py
  tests/unit/dogstatsd/test_aggregator.py
  tests/unit/dogstatsd/test_max_sample_metrics.py
Owners: @DataDog/api-clients, @DataDog/agent-metrics-logs

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched top-to-bottom, so one team can own subdirectories
# and another team can own the rest of the directory. Last matching
# pattern is the one used.

# Default owners of everything in the repo
*                                @DataDog/api-clients

# API
/datadog/api/                    @DataDog/api-clients
/tests/integration/api/          @DataDog/api-clients
/tests/unit/api/                 @DataDog/api-clients

# Dogshell
/datadog/dogshell/               @DataDog/api-clients
/tests/integration/dogshell/     @DataDog/api-clients

# Dogstatd
/datadog/dogstatsd/              @DataDog/api-clients @DataDog/agent-metrics-logs
/datadog/util/                   @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/integration/dogstatsd/    @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/dogstatsd/           @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/util/                @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/util/                     @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/performance/test_statsd_* @DataDog/api-clients @DataDog/agent-metrics-logs

# Threadstats
/datadog/threadstats/            @DataDog/api-clients @DataDog/agent-metrics-logs
/tests/unit/threadstats/         @DataDog/api-clients @DataDog/agent-metrics-logs

# Documentation
*.md                             @DataDog/documentation @DataDog/api-clients
LICENSE                          @DataDog/documentation @DataDog/api-clients
