Repository DataDog/datadogpy, pull requests merged in 2020-09, with the labels that each got.

#596 Start new release cycle
  datadog/version.py
Labels: changelog/no-changelog

#594 [README] add a section on the maximum packets size knob.
  README.md
Labels: documentation

#597 Use RTD theme for doc site
  doc/requirements.txt
  doc/source/conf.py
Labels: changelog/no-changelog

#599 Fix new dev cycle bump example
  RELEASING.md
Labels: changelog/no-changelog, documentation

#604 Use absolute link for changelog in README
  README.md
Labels: changelog/no-changelog
