Repository DataDog/datadogpy, pull requests merged in 2020-03, with the labels that each got.

#517 Remove illegal characters from tags
  datadog/dogstatsd/base.py
  datadog/util/format.py
  tests/unit/api/test_api.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed, resource/dogstatsd, stale

#543 Support DD_API_KEY environment variable in dogwrap
  datadog/dogshell/wrap.py
  tests/unit/dogwrap/test_dogwrap.py
Labels: changelog/Added, resource/dogshell

#544 Add enum for monitor types
  datadog/api/constants.py
Labels: changelog/Added

#545 Add `Set` metric type to threadstats
  datadog/threadstats/base.py
  datadog/threadstats/metrics.py
  tests/unit/threadstats/test_threadstats.py
Labels: changelog/Added, resource/threadstats

#546 Release 0.35.0
  CHANGELOG.md
  setup.py
Labels: changelog/no-changelog, documentation

#547 Start new release cycle
  setup.py
Labels: changelog/no-changelog

#549 tests: remove unused mix_stderr param
  tests/integration/dogshell/test_dogshell.py
Labels: changelog/no-changelog, dev/testing

#550 Fix test for socket error
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/no-changelog, dev/testing

#548 Add support for DD_ENV, DD_SERVICE, and DD_VERSION environment variables
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Added, resource/dogstatsd

#552 Add excluded_regions to POST/PUT AWS lib
  datadog/api/aws_integration.py
  tests/integration/api/cassettes/TestAwsIntegration.test_update.yaml
  tests/integration/api/test_aws_integration.py
Labels: changelog/Added, resource/api
