Repository DataDog/datadogpy, pull requests merged in 2020-02, with the labels that each got.

#525 Fix setup.py syntax for console scripts
  RELEASING.md
  setup.py
Labels: changelog/no-changelog, documentation

#524 Release 0.34.0
  CHANGELOG.md
  RELEASING.md
  setup.py
Labels: changelog/no-changelog, documentation

#526 Start new dev cycle
  RELEASING.md
  setup.py
Labels: changelog/no-changelog, documentation

#527 Fix ServiceLevelObjective.get_all limit default in docstring
  datadog/api/service_level_objectives.py
Labels: changelog/Fixed, documentation

#530 Revert dogstatsd telemetry
  .gitignore
  README.md
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed, documentation, resource/dogstatsd

#531 Release 0.34.1
  CHANGELOG.md
  setup.py
Labels: changelog/no-changelog, documentation

#532 start new release cycle
  setup.py
Labels: changelog/no-changelog

#533 Remove namespace telemetry
  .gitignore
  README.md
  datadog/dogstatsd/base.py
  datadog/util/config.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Added, documentation

#540 modifying indent
  datadog/__init__.py
Labels: changelog/no-changelog, documentation

#538 Fix syntax error in dogwrap timeout handler and always collect output (#537)
  datadog/dogshell/wrap.py
  tests/unit/dogwrap/test_dogwrap.py
Labels: changelog/Fixed, resource/dogshell
