Repository DataDog/datadogpy, pull requests merged in 2020-01, with the labels that each got.

#505 Adding telemetry to dogstatsd
  .gitignore
  README.md
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: documentation

#511 [dogshell] Enforce the default 'normal' event priority client side
  datadog/dogshell/event.py
Labels: bug

#516 Updating Contributing doc
  CONTRIBUTING.md
Labels: changelog/no-changelog, documentation

#515 Handle EAGAIN socket error when dropping packets
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed, kind/bug, resource/dogstatsd

#519 Update RELEASING.md
  RELEASING.md
Labels: documentation

#520 Add codeowners per subproject
  .github/CODEOWNERS
  .github/labeler.yml
Labels: changelog/no-changelog, dev/tooling

#513 Add tests for options on delete
  tests/integration/api/test_api.py
Labels: changelog/no-changelog, dev/testing, resource/api

#305 Alias `dog` script names as `dogshell`
  datadog/dogshell/__init__.py
  datadog/dogshell/wrap.py
  setup.py
Labels: changelog/Deprecated, community, resource/dogshell, severity/minor

#522 Add 3rd party licenses file and update doc
  LICENSE-3rdparty.csv
  RELEASING.md
Labels: changelog/no-changelog, documentation
