Repository DataDog/datadogpy, pull requests merged in 2020-07, with the labels that each got.

#583 Improve user-agent header to include telemetry information
  datadog/api/http_client.py
  tests/integration/api/cassettes/TestDatadog.test_user_agent.yaml
  tests/integration/api/test_api.py
  tox.ini
Labels: changelog/Added

#585 Use Python 2 compatible configparser explicitly
  setup.py
Labels: changelog/Fixed

#586 Release 0.38.0
  CHANGELOG.md
  datadog/version.py
Labels: changelog/no-changelog, documentation

#587 Start new release cycle
  datadog/version.py
Labels: changelog/no-changelog

#579 [typing] adds type information to some dogstatsd methods
  datadog/dogstatsd/base.py
Labels: changelog/Added, resource/dogstatsd
