Repository DataDog/datadogpy, pull requests merged in 2020-06, with the labels that each got.

#565 Initial support for Python type hints and Mypy type checking
  .azure-pipelines/unit_tests.yml
  .gitignore
  MANIFEST.in
  datadog/__init__.py
  datadog/api/__init__.py
  datadog/api/format.py
  datadog/api/http_client.py
  datadog/dogstatsd/context.py
  datadog/dogstatsd/context_async.py
  datadog/py.typed
  datadog/util/compat.py
  datadog/util/hostname.py
  mypy.ini
  setup.py
  tox.ini
Labels: changelog/Added, community, dev/tooling, kind/feature-request

#566 move version to importable file, remove pkg_resources import
  RELEASING.md
  datadog/__init__.py
  datadog/dogshell/__init__.py
  datadog/dogshell/wrap.py
  datadog/dogstatsd/base.py
  datadog/util/compat.py
  datadog/util/config.py
  datadog/version.py
  setup.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Changed

#562 Size-based packetization for dogstatsd batched metrics
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Changed

#569 Prognant/0.37.0 changelog
  CHANGELOG.md
  datadog/version.py
Labels: changelog/no-changelog, documentation

#572 Add `typing` and `configparser` dependencies for python versions that need it
  setup.py
Labels: changelog/Fixed

#574 Release v0.37.1
  CHANGELOG.md
  datadog/version.py
Labels: changelog/no-changelog, documentation

#575 Bump version to 0.38.0.dev
  datadog/version.py
Labels: changelog/no-changelog

#577 Properly delete created SLO after end of a testcase
  tests/integration/api/cassettes/TestDatadog.test_monitor_can_delete_with_force.frozen
  tests/integration/api/cassettes/TestDatadog.test_monitor_can_delete_with_force.yaml
  tests/integration/api/test_api.py
  tests/integration/dogshell/test_dogshell.py
Labels: changelog/no-changelog
