Repository DataDog/datadogpy, pull requests merged in 2021-02, with the labels that each got.

#629 Turn EAGAIN warning into debug
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed

#631 Increase dogshell test retry wait time
  tests/integration/dogshell/test_dogshell.py
Labels: changelog/no-changelog

#630 Release 0.40.0
  CHANGELOG.md
  datadog/version.py
Labels: changelog/no-changelog, documentation

#632 Start new release cycle
  datadog/version.py
Labels: changelog/no-changelog
