Repository DataDog/datadogpy, pull requests merged in 2021-01, with the labels that each got.

#621 use start and stop instead of __enter__ and __exit__
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/no-changelog

#615 [dogstatsd] use monotonic clock source when available for timers
  datadog/dogstatsd/context.py
  datadog/dogstatsd/context_async.py
  datadog/threadstats/base.py
Labels: changelog/Fixed

#617 Update and improve documentation
  README.md
  datadog/dogstatsd/base.py
  datadog/threadstats/base.py
  doc/source/index.rst
Labels: documentation, stale

#622 Add logs listing feature
  datadog/api/__init__.py
  datadog/api/logs.py
  tests/unit/api/test_api.py
Labels: changelog/Added

#623 Turn warning into info
  datadog/util/hostname.py
Labels: changelog/Fixed

#624 Remove deprecation warnings
  tests/unit/dogstatsd/test_statsd.py
  tests/unit/dogwrap/test_dogwrap.py
Labels: changelog/no-changelog

#625 Support DD env vars in threadstats
  datadog/threadstats/base.py
  tests/unit/threadstats/test_threadstats.py
Labels: changelog/Added
