Repository DataDog/datadogpy, pull requests merged in 2021-06, with the labels that each got.

#661 [dogstatsd] Fix unicode handling of event text
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed, kind/bug, severity/normal

#659 [tests] Fix DSD thread safety benchmark tests
  tests/performance/test_statsd_thread_safety.py
Labels: changelog/no-changelog, kind/bug, severity/minor

#663 [statsd] Add performance benchmark test for local testing
  README.md
  setup.py
  tests/performance/test_statsd_throughput.py
  tests/util/fake_statsd_server.py
  tests/util/system_info_observer.py
Labels: changelog/no-changelog, documentation, kind/feature-request, severity/normal

#665 Fix integration test, existing test in org can break it
  tests/integration/api/test_synthetics.py
Labels: changelog/no-changelog

#666 [github] Add agent-core as co-owners to statsd performance tests
  .github/CODEOWNERS
Labels: changelog/no-changelog, severity/minor

#667 [tests] Improve statsd performance benchmark on MacOS platforms
  tests/performance/test_statsd_throughput.py
  tests/util/fake_statsd_server.py
Labels: changelog/no-changelog, kind/bug, severity/minor

#668 [tests] Use memory diffs from baseline in observer helper module stats
  tests/performance/test_statsd_throughput.py
  tests/util/system_info_observer.py
Labels: changelog/no-changelog

#672 [statsd] Improve tag normalization speed
  datadog/util/format.py
  tests/performance/test_statsd_throughput.py
  tests/unit/util/test_format.py
Labels: changelog/Changed, kind/feature-request, severity/normal
