Repository DataDog/datadogpy, pull requests merged in 2021-07, with the labels that each got.

#675 Release 0.42.0
  CHANGELOG.md
  datadog/version.py
Labels: changelog/no-changelog, documentation

#670 [statsd] Enable buffering by default for statsd
  datadog/dogstatsd/base.py
  datadog/util/deprecation.py
  tests/unit/dogstatsd/test_statsd.py
  tests/util/fake_statsd_server.py
Labels: changelog/Changed, kind/feature-request, severity/normal

#678 [tests] Statsd fake server can now be run as a standalone script
  tests/util/fake_statsd_server.py
Labels: changelog/no-changelog, kind/feature-request, severity/minor

#681 [tests] Add tests for `statsd` default and custom max packet sizes
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/no-changelog, dev/testing, resource/dogstatsd, severity/minor

#682 [docs] Update documentation that is out of date
  doc/source/index.rst
Labels: changelog/no-changelog, documentation, severity/normal
