Repository DataDog/datadogpy, pull requests merged in 2022-03, with the labels that each got.

#716 Prepare release 0.44.0
  CHANGELOG.md
  datadog/version.py
Labels: documentation, changelog/no-changelog

#717 Start dev cycle
  datadog/version.py
Labels: changelog/no-changelog

#720 feat: origin detection with container ID field
  datadog/dogstatsd/base.py
  datadog/dogstatsd/container.py
  tests/unit/dogstatsd/test_container.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Added
