Repository DataDog/datadogpy, pull requests merged in 2022-02, with the labels that each got.

#711 [tests] Remove Python 3.5 from unit-tested versions
  .azure-pipelines/unit_tests.yml
Labels: changelog/no-changelog, dev/testing

#712 [threadstats] Ensure `ThreadStats` and `DogStatsd` `event()` signatures match
  datadog/threadstats/base.py
  tests/unit/dogstatsd/test_statsd.py
  tests/unit/threadstats/test_threadstats.py
Labels: resource/dogstatsd, resource/threadstats, backward-incompatible, changelog/Changed, kind/bug, severity/minor

#715 [statsd] Restore buffering state when exiting context manager
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: resource/dogstatsd, changelog/Fixed, kind/bug, severity/minor

#713 Update package metadata
  .azure-pipelines/unit_tests.yml
  .github/workflows/test.yml
  MANIFEST.in
  pyproject.toml
  tox.ini
Labels: changelog/Added
