Repository DataDog/datadogpy, pull requests merged in 2023-07, with the labels that each got.

#779 Add AP1 Datacenter
  datadog/dogshell/__init__.py
  datadog/dogshell/common.py
  datadog/dogshell/wrap.py
Labels: changelog/Added, ci/integrations

#739 Add tags and priority to the fpost monitor request
  datadog/dogshell/monitor.py
  tests/integration/dogshell/cassettes/TestDogshell.test_monitors.yaml
  tests/integration/dogshell/test_dogshell.py
Labels: changelog/Changed

#780 Add govcloud to site param descriptions, and add custom url fallback
  datadog/dogshell/__init__.py
  datadog/dogshell/common.py
  datadog/dogshell/wrap.py
Labels: changelog/Fixed

#781 add alphanumeric check to app/api key config creation
  datadog/dogshell/common.py
Labels: changelog/Fixed

#782 bump to dev version and pin ddev
  .github/workflows/release.yaml
  datadog/version.py
Labels: changelog/no-changelog
