Repository DataDog/datadogpy, pull requests merged in 2023-01, with the labels that each got.

#751 Tox error workaround with alternate pypy version names
  .github/workflows/test.yml
  pyproject.toml
  tox.ini
Labels: changelog/no-changelog

#749 Add dogwrap site option to send to US3 site
  datadog/dogshell/__init__.py
  datadog/dogshell/common.py
  datadog/dogshell/wrap.py
Labels: changelog/Added

#754 Use header for credentials everywhere
  datadog/api/api_client.py
  tests/unit/api/test_api.py
Labels: changelog/Changed
