Repository DataDog/datadogpy, pull requests merged in 2024-08, with the labels that each got.

#836 AMLII-1842 Fix a potential deadlock on fork
  datadog/dogstatsd/base.py
  tests/integration/dogstatsd/test_statsd_fork.py
  tests/integration/dogstatsd/test_statsd_sender.py
  tests/unit/dogstatsd/test_statsd.py
Labels: stale, changelog/Fixed, kind/bug

#844 Add client side aggregation
  datadog/__init__.py
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  datadog/dogstatsd/metric_types.py
  datadog/dogstatsd/metrics.py
  tests/unit/dogstatsd/test_aggregator.py
  tests/unit/dogstatsd/test_metrics.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Added, mergequeue-status: rejected

#849 Release 0.50.0
  CHANGELOG.md
  datadog/version.py
Labels: documentation, changelog/no-changelog

#850 start dev cycle
  datadog/version.py
Labels: changelog/no-changelog

#851 enable the ability for buffering and aggregation to work at the same
  datadog/__init__.py
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Added
