Repository DataDog/datadogpy, pull requests merged in 2024-07, with the labels that each got.

#837 add metric object type
  datadog/dogstatsd/metrics.py
  tests/unit/dogstatsd/test_metrics.py
Labels: changelog/Added, mergequeue-status: rejected

#841 add aggregator
  .github/workflows/test.yml
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  datadog/dogstatsd/metric_types.py
  datadog/dogstatsd/metrics.py
  tests/unit/dogstatsd/test_aggregator.py
  tests/unit/dogstatsd/test_metrics.py
Labels: changelog/Added

#839 feat(origin detection): implement new spec
  datadog/dogstatsd/base.py
  datadog/dogstatsd/container.py
  tests/unit/dogstatsd/test_container.py
  tests/unit/dogstatsd/test_statsd.py
Labels: resource/dogstatsd, changelog/no-changelog, mergequeue-status: in_progress
