Repository DataDog/datadogpy, pull requests merged in 2024-03, with the labels that each got.

#817 Fix potential deadlock during process fork
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed

#818 Release 0.49.0
  CHANGELOG.md
  datadog/version.py
Labels: documentation, changelog/no-changelog

#820 Fix potential metric loss when open_buffer is combined with disable_buffering=False
  datadog/dogstatsd/base.py
  tests/integration/dogstatsd/test_statsd_sender.py
Labels: changelog/Fixed

#821 Release 0.49.1
  CHANGELOG.md
  datadog/version.py
Labels: documentation, changelog/no-changelog

#822 start dev cycle
  datadog/version.py
Labels: changelog/no-changelog

#824 Add `.readthedocs.yaml` config file
  .readthedocs.yaml
Labels: changelog/no-changelog

#825 Rename integrations-tools-and-libraries to api-clients in CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog
