Repository DataDog/datadogpy, pull requests merged in 2024-01, with the labels that each got.

#807 Update payload size when updating socket path
  datadog/dogstatsd/base.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed

#808 Close socket during initialization
  datadog/__init__.py
  tests/unit/dogstatsd/test_statsd.py
Labels: changelog/Fixed

#804 Improve forking support
  datadog/dogstatsd/base.py
  doc/source/index.rst
  tests/integration/dogstatsd/test_statsd_fork.py
  tests/integration/dogstatsd/test_statsd_sender.py
Labels: changelog/Added

#811 Prepare 0.48.0 release
  CHANGELOG.md
  datadog/version.py
Labels: documentation, changelog/no-changelog

#814 start dev cycle
  datadog/version.py
Labels: changelog/no-changelog

#813 Support inode resolution mechanism for Origin Detection
  datadog/dogstatsd/base.py
  datadog/dogstatsd/container.py
  tests/unit/dogstatsd/test_container.py
Labels: changelog/Added

#809 Add --restricted_roles option to Monitors API
  datadog/dogshell/monitor.py
Labels: resource/dogshell, changelog/Added, kind/bug, severity/minor
