Repository DataDog/datadogpy, pull requests merged in 2024-09, with the labels that each got.

#853 add buffered_metrics object type
  .github/workflows/test.yml
  datadog/dogstatsd/buffered_metrics.py
  datadog/dogstatsd/metric_types.py
  tests/unit/dogstatsd/test_buffered_metrics.py
Labels: changelog/no-changelog

#854 Set more specific GitHub token permissions on workflows.
  .github/workflows/changelog.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yaml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Labels: changelog/no-changelog, mergequeue-status: done

#855 docs: update datadog_checks_dev installation guide
  RELEASING.md
Labels: documentation, changelog/no-changelog

#856 Release 0.50.1
  CHANGELOG.md
  datadog/version.py
Labels: documentation, changelog/no-changelog

#857 start dev cycle
  datadog/version.py
Labels: changelog/no-changelog
