Repository DataDog/datadogpy, pull requests merged in 2025-01, with the labels that each got.

#881 Lazy load packages in compat for faster import.
  datadog/util/compat.py
  tests/unit/util/test_compat.py
Labels: changelog/Added

#884 Add hosts endpoint.
  datadog/api/hosts.py
  datadog/dogshell/__init__.py
  datadog/dogshell/hosts.py
  tests/integration/api/cassettes/TestDatadog.test_hosts_get_all.yaml
  tests/integration/api/cassettes/TestDatadog.test_hosts_totals.yaml
  tests/integration/api/test_api.py
  tests/integration/dogshell/cassettes/TestDogshell.test_hosts_list.yaml
  tests/integration/dogshell/cassettes/TestDogshell.test_hosts_totals.yaml
  tests/integration/dogshell/test_dogshell.py
Labels: changelog/Added, kind/feature-request

#885 Prepare for release
  CHANGELOG.md
  datadog/version.py
Labels: documentation, changelog/no-changelog

#886 Start dev cycle
  datadog/version.py
Labels: changelog/no-changelog

#863 [AMLII-2019] Max samples per context for Histogram, Distribution and Timing metrics (Experimental Feature)
  datadog/__init__.py
  datadog/dogstatsd/aggregator.py
  datadog/dogstatsd/base.py
  datadog/dogstatsd/max_sample_metric.py
  datadog/dogstatsd/max_sample_metric_context.py
  datadog/dogstatsd/metric_types.py
  tests/unit/dogstatsd/test_aggregator.py
  tests/unit/dogstatsd/test_max_sample_metrics.py
Labels: changelog/Added

#887 Update API Clients team to include Web Frameworks team
  .github/CODEOWNERS
Labels: changelog/no-changelog
